.main-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 15px;
  min-height: 500px;
}
@media(min-width: 1366px) {
  .main-wrapper {
    height: 100vh;
  }
}
@media(min-width: 1024px) {
  .main-wrapper {
    padding: 60px 100px;
  }
}