.main-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 15px;
}
@media(min-width: 769px) {
    .main-wrapper {
        min-height: 100vh;
        padding: 30px 60px;
    }
}
@media(min-width: 1013px) {
    .main-wrapper {
        padding: 60px 100px;
    }
}