body {
  background: linear-gradient(324.89deg, #70EDAB 24.86%, #99FFE2 100%)fixed center no-repeat;
  background-size: cover;
}
.logo-fl {
  max-height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1024px) {
  .logo-fl {
    max-height: 250px;
  }
}