<div class="wrapper">
  <h1 class="header-title">
    Bonjour je m'appelle <strong>Florent Landuré</strong>
    <br>
    Je suis <strong>Développeur web</strong>
  </h1>
  <div class="content">

    <div class="description">
      <p>
        Passionné de <strong>nouvelles technologies</strong> et de <strong>design</strong>, j’ai décidé de me lancer dans le <strong>développement web</strong> en 2015.
      </p>
      <p>
        J’ai commencé par apprendre les technologies des base (html, css, <strong>javascript</strong>, PHP, MySQL).
      </p>
      <p>
        Au fil du temps je me suis tourné vers le <strong>MEAN stack</strong> (MongoDB Express Angular Node.js) avec une spécialisation <strong>front-end</strong>.
      </p>
    </div>

    <div class="image">
      <img src="../../assets/images/photo cv.jpg" alt="Photo de profile linkedIn">
    </div>

  </div>
</div>
