.wrapper {
    padding: 100px;
    min-height: 500px;
}
.header-title {
    font-weight: 400;
}
.header-title strong {
    text-transform: uppercase;
}
.content {
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}
.description {
    flex: 2;
    margin-right: 50px;
}
.image {
    flex: 1;
    min-width: 250px;
    max-width: 400px;
}
.image img {
    width: 60%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
}
@media(max-width: 1012px) {
    .wrapper {
        padding: 50px;
    }
    .description {
        margin-right: 0; 
    }
    .image {
        margin-top: 20px;
        width: 100%;
    }
    .image img {
        margin: 0 auto;
    }
}
@media(max-width:768px) {
  .wrapper {
      padding: 25px;
  }
}